$color_1: #1b1b1b;
$background-color_1: rgb(231, 231, 231);

.imagenes {
    text-align: center;
    
  }
  
  .img {
    width: 450px;
    height: 250px;
  }
  
  .img2 {
    width: 650px;
    height: 350px;
  }

  .photos {
    background-color: $color_1;
  }